<div ng-controller="MainCtrl">
    <h2>Sessions, Express, SocketIO, Redis</h2>
    <div>"Register" works thorugh a standard REST route, and "Rename" through SocketIO which confirms session sharing between the two works properly.</div><br />
    <div>
        <input ng-model="userName" />
        <button ng-click="register()" ng-disabled="currentUser.userName">Register</button>
        <button ng-click="rename()" ng-disabled="!currentUser.userName">Rename</button>
    </div>
    <div ng-if="currentUser.userName">
        <h3>Welcome {{currentUser.userName}}!</h3>
    </div>
    <div>
        <ul>
            <li ng-repeat="user in users">{{user.userName}}</li>
        </ul>
    </div>
</div>